.description {
    position: relative;
    color: #b5eafa;
    text-align: center;
    width: 700px;
    left: 50%;
    transform: translateX(-50%);
}

.description h1 {
    font-size: 70px;
    margin-top: 10px;
    margin-bottom: 10px;
}