.system {
    font-size: 100%;
    width: 100%;
    height: 100%;
}

.sun {
    position: absolute;
    border-radius: 50%;
    background-color: #fbfb00;
    width: 12.5%;
    height: 12.5%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.15em solid black;
}

.orbit {
    position: absolute;
    border: 0.00125em solid #dddddd80;
    border-radius: 50%;
    transition: transform 2s ease-in-out;
    top: 50%;
    left: 50%;

    &.Mercury {
        width: 17.5%;
        height: 17.5%;
    }

    &.Venus {
        width: 23.125%;
        height: 23.125%;
    }

    &.Earth {
        width: 30%;
        height: 30%;
    }

    &.Mars {
        width: 36.25%;
        height: 36.25%;
    }

    &.Jupiter {
        width: 50%;
        height: 50%;
    }

    &.Saturn {
        width: 61.875%;
        height: 61.875%;
    }

    &.Uranus {
        width: 78.75%;
        height: 78.75%;
    }

    &.Neptune {
        width: 95%;
        height: 95%;
    }
}

.planet {
    position: absolute;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    left: 0;
    top: 50%;
    border: 0.15em solid black;

    &.Mercury {
        width: 10.7%;
        height: 10.7%;
        background-color: rgb(118, 166, 189);
    }

    &.Venus {
        width: 10.8%;
        height: 10.8%;
        background-color: rgb(199, 100, 7);
    }

    &.Earth {
        width: 8.3%;
        height: 8.3%;
        background-color: rgb(0, 174, 255);
    }

    &.Mars {
        width: 6.2%;
        height: 6.2%;
        background-color: rgb(223, 53, 2);
    }

    &.Jupiter {
        width: 8.75%;
        height: 8.75%;
        background-color: rgb(235, 160, 61);
    }

    &.Saturn {
        width: 6%;
        height: 6%;
        background-color: rgb(218, 181, 127);
    }

    &.Uranus {
        width: 2.9%;
        height: 2.9%;
        background-color: rgb(84, 196, 196);
    }

    &.Neptune {
        width: 2.9%;
        height: 2.9%;
        background-color: rgb(0, 73, 182);
    }
}

